@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

#navbar.sticky {
  background-color: var(--dark); 
  position: fixed;
  width: 100%;
}

#navbar-placeholder {
  height: 50px;
}

@keyframes fadeIn{
  0% {
    opacity: 0;
  }
  80%{
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

@keyframes reduceSize {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
}

@keyframes fadeInUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveRight {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes changeBackground {
  to {
    background-image: url("https://images.unsplash.com/photo-1621936783604-addb61205ccc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=70");
    background-size: 200%;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}